@charset "UTF-8";

/* 回答はここに書いてね */
.container {
  padding: 20px;
}

.block {
  display: table;
  width: 100%;
}

.block:first-child {
  margin-bottom: 20px;
}

.block_element {
  display: table-cell;
  text-align: center;
  padding: 20px 0px;
}

.block:nth-child(1) .block_element:nth-child(1){
  background-color: #fdc8c8;
  width: 140px;
}

.block:nth-child(1) .block_element:nth-child(2){
  background-color: #e0abd9;
}

.block:nth-child(1) .block_element:nth-child(3){
  background-color: #b6d8ed;
  width: 140px;
}

.block:nth-child(2) .block_element:nth-child(1){
  background-color: #e5d32e;
}

.block:nth-child(2) .block_element:nth-child(2){
  background-color: #ec8f9a;
}

.block:nth-child(2) .block_element:nth-child(3){
  width: 540px;
  background-color: #8fdcad;
}
/* 回答はここに書いてね */
